.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__info > button {
  border: 1px solid;
  margin-top: 10px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  background-color: #f0c14b;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutproduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  box-shadow: 00px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkoutProduct__image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}
